<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.happyheadache">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--uses-permission android:name="android.permission.BODY_SENSORS" /-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_config"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <receiver android:name=".widget.NewHeadacheWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/new_headache_widget_info" />
        </receiver>

        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".IntroActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".home.HomeActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".newheadache.NewHeadacheActivity"
            android:label="@string/all_newheadache"
            android:parentActivityName=".home.HomeActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.happyheadache.home.HomeActivity" />
        </activity>
        <activity
            android:name=".headachehistory.HeadacheHistoryActivity"
            android:label="@string/all_headachehistory"
            android:parentActivityName=".home.HomeActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.happyheadache.home.HomeActivity" />
        </activity>
        <activity
            android:name=".menu.LoginActivity"
            android:label="@string/menu_loginsignup"
            android:parentActivityName=".home.HomeActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.happyheadache.home.HomeActivity" />
        </activity>
        <activity
            android:name=".menu.SettingsActivity"
            android:label="@string/all_settings"
            android:parentActivityName=".home.HomeActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.happyheadache.home.HomeActivity" />
        </activity>
        <activity
            android:name=".menu.PrivacyNoticeActivity"
            android:label="@string/all_privacynotice"
            android:parentActivityName=".home.HomeActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.happyheadache.home.HomeActivity" />
        </activity>

        <service
            android:name="com.evernote.android.job.v21.PlatformJobService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name="com.evernote.android.job.v14.PlatformAlarmService"
            android:exported="false" />

        <receiver
            android:name="com.evernote.android.job.v14.PlatformAlarmReceiver"
            android:exported="false">
            <intent-filter>

                <!-- Keep the filter for legacy intents -->
                <action android:name="com.evernote.android.job.v14.RUN_JOB" />
                <action android:name="net.vrallev.android.job.v14.RUN_JOB" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.evernote.android.job.JobBootReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.evernote.android.job.gcm.PlatformGcmService"
            android:enabled="false"
            android:exported="true"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.samsung.android.health.permission.read"
            android:value="
                com.samsung.health.step_count;
                com.samsung.health.exercise;
                com.samsung.health.sleep;
                com.samsung.health.water_intake;
                com.samsung.health.caffeine_intake;
                com.samsung.health.food_intake;
                com.samsung.health.food_info;
                com.samsung.health.user_profile" /> <!--com.samsung.health.ambient_temperature; com.samsung.health.sleep_stage; com.samsung.health.heart_rate; com.samsung.health.blood_glucose; com.samsung.health.blood_pressure;-->
    </application>
</manifest>